target/
lib/
.idea/
.idea_module/
.scala_dependencies
project/boot/
*/project/boot/
*.class
lib_managed/
reactive.wiki
*~
work/
.git-bak/
*.bak
.directory
hs_err*.log
.history
jrockit.*.dump
*.orig
.settings
