 
/* Menu CSS based on http://www.visualbasicscript.com/Pure-CSS-Pull-Down-Menu-m56046.aspx */


 .menu ul {
     position:relative;
     text-align:left;
     list-style: none;
     margin-left: auto;
     margin-right: auto;
     padding-top: .5em;
     padding-bottom: .5em;
     padding-left: 0px;
     padding-right: 0px;
     background-color: #DDDDDD;
     border:1px solid gray;
     font-size: large;
 }
 
 .menu li{
     position:relative;
     display:inline;
     cursor:pointer;
     padding-right: .5em;
     padding-top: .5em;
     padding-bottom: .5em;
     padding-left: .5em;
 }
 
 .menu li a{
     text-decoration:none;
     color:black;
     width:100%;
     height:100%;
 }
 
 .menu li a:hover{
     color:black;
 }
 
 .menu li:hover{
     background-color:#EEEEEE;
     color:black;
 }
 
 .menu li ul{
     position:absolute;
     white-space:nowrap;
     text-align:left;
     list-style:none;
     display:none;
     z-index:5;
     left:0%;
     top: 2em;
     margin:0px;
     padding:0px;
     border:1px solid gray;
     background-color: #DDDDDD;
 }
 
 .menu li ul li{
     position:relative;
     left:0px;
     display: list-item;
     cursor:pointer;
     width:200px;
     float: none;
     padding: .25em
 }
 
 
 .menu li ul li a{
     display:block;
     margin-left:3px;
     margin-right:3px;
 }
 
 .menu li:hover > ul{
     display:block;
 }
