@CHARSET "UTF-8";

#messages {
  position: fixed;
  top: 5px;
  left: 3em;
  width: auto;
  max-width: 90%;
  min-width: 10%;
  text-align: left;
}

.message {
  position: relative;
  background: rgba(246, 225, 128, 0.85);
  border: 3px solid rgba(255, 128, 0, 0.25);
  border-radius: 10px;
  margin: .25em;
  padding: .5em 3em .5em 2em;
  font-weight: bold;
  box-shadow: 1px 1px 5px rgb(192, 192, 192);
}

.message .text {
  text-shadow: 1px 1px 0.5px white;
  font-family: sans-serif;
}

.message .close {
  display: block;
  position: absolute;
  top: 2px;
  right: 5px;
  text-decoration: none;
  font-size: small;
  color: gray;
  background: rgba(255, 255, 235, 0.75);
  padding: 0px 4px;
  border-radius: 4px;
  box-shadow: 0px 0px 3px rgb(255, 255, 235);
  cursor: pointer;
}
